[Unit]
Description=Discord Bot Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/opc/eis-main/main.py
WorkingDirectory=/home/opc/eis-main
Restart=always
User=opc  # Change if using a different user
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target